<!-- display a specific potluck with it's details -->

<div class=show-potluck-wrapper>
  <h2><%= @potluck.name %></h2>

  <p>Location: <%= @potluck.location %></p>

  <p>Date: <%= @potluck.starts_at.to_date %></p>

  <p>Time: <%= @potluck.starts_at.strftime("%I:%M %p") %></p>

  <p>Host: <%= @potluck.host.username %></p>

</div>

<!-- if user logged in, but not the host show form to attend -->
<div class="attend-potluck-wrapper">
  <% if logged_in? %>
    <% if @potluck.host != current_user %>
      <% if !@potluck.attendees.include?(User.find(session[:user_id]))%>
        <%= erb :'./rsvps/new', locals: { potluck: @potluck } %>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- show edit potluck button only to host -->
<div class="edit-potluck-button-wrapper">
  <% if logged_in? %>
    <% if @potluck.host == current_user %>
      <button class="edit-potluck-button">
        <a href="/potlucks/<%= @potluck.id %>/edit">Edit Potluck Info</a>
      </button><br><br>
    <% end %>
  <% end %>
</div>

<!-- show delete potluck button only to host -->
<div class="delete-potluck-button-wrapper">
  <% if logged_in? %>
    <% if @potluck.host == current_user %>
      <%= erb :'/potlucks/_delete_potluck', layout: false, locals: { potluck: @potluck } %>
    <% end %>
  <% end %>
</div>


<!-- show the list of all rsvps for a single potluck -->
<div class="potluck-attendees-wrapper">
  <% if @potluck.rsvps.any? %>
    <%= erb :'./rsvps/index', layout: false, locals: { potluck: @potluck } %>
  <% end %>
</div>

